dist
examples
**/node_modules/**
scratch
coverage
packages/core/types/test/*.js
packages/react-native/android/build/reports
packages/**/features
packages/**/fixtures
test/browser
test/node
test/react-native-cli/features/fixtures
