# native bits
.clangd
.cache
compile_commands.json
build

# testing
docker-temp
.cucumber-failures
.verdaccio
.webpack

# general dev
node_modules
lerna-debug.log
coverage
.nyc_output
dist
.DS_Store
maze_output
*.ngsummary.json
.diff
*.tgz
min_packages.tar
