sudo: false
language: node_js
node_js:
- '5'
- '4'
- '3'
- '2'
- '0.12'
- '0.10'
env:
- CXX=g++-4.8
addons:
  sauce_connect: true
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
before_install:
- npm install -g grunt-cli
