version: '3.6'
services:
  minimal-packager:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.package
    volumes:
      - .:/app/build

  publisher:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.publisher
      args:
        - BUILDKITE=${BUILDKITE}
        - REG_BASIC_CREDENTIAL
        - REG_NPM_EMAIL
        - PUBLISH_URL
        - BRANCH_NAME
  ci:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.ci

  browser-maze-runner:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.browser
      target: browser-maze-runner
      args:
        - BUILDKITE_BUILD_NUMBER
    environment:
      BUILDKITE:
      BUILDKITE_BRANCH:
      BUILDKITE_BUILD_CREATOR:
      BUILDKITE_BUILD_NUMBER:
      BUILDKITE_BUILD_URL:
      BUILDKITE_LABEL:
      BUILDKITE_MESSAGE:
      BUILDKITE_PIPELINE_NAME:
      BUILDKITE_REPO:
      BUILDKITE_RETRY_COUNT:
      BUILDKITE_STEP_KEY:
      MAZE_BUGSNAG_API_KEY:
      MAZE_TMS_URI:
      MAZE_TMS_TOKEN:
      DEBUG:
      BROWSER_STACK_USERNAME:
      BROWSER_STACK_ACCESS_KEY:
      BROWSER_STACK_BROWSERS_USERNAME:
      BROWSER_STACK_BROWSERS_ACCESS_KEY:
      BROWSER_STACK_DEVICES_USERNAME:
      BROWSER_STACK_DEVICES_ACCESS_KEY:
      HOST: "${HOST:-maze-runner}"
      API_HOST: "${API_HOST:-maze-runner}"
    env_file:
      - ${DOCKER_ENV_FILE:-test/browser/features/fixtures/null_env}
    networks:
      default:
        aliases:
          - maze-runner
    volumes:
      - ./test/browser/maze_output:/app/test/browser/maze_output

  browser-maze-runner-legacy:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.browser
      target: browser-maze-runner-legacy
      args:
        - BUILDKITE_BUILD_NUMBER
    environment:
      BUILDKITE:
      BUILDKITE_BRANCH:
      BUILDKITE_BUILD_CREATOR:
      BUILDKITE_BUILD_NUMBER:
      BUILDKITE_BUILD_URL:
      BUILDKITE_LABEL:
      BUILDKITE_MESSAGE:
      BUILDKITE_PIPELINE_NAME:
      BUILDKITE_REPO:
      BUILDKITE_RETRY_COUNT:
      BUILDKITE_STEP_KEY:
      MAZE_BUGSNAG_API_KEY:
      MAZE_TMS_URI:
      MAZE_TMS_TOKEN:
      DEBUG:
      BROWSER_STACK_USERNAME:
      BROWSER_STACK_ACCESS_KEY:
      BROWSER_STACK_BROWSERS_USERNAME:
      BROWSER_STACK_BROWSERS_ACCESS_KEY:
      BROWSER_STACK_DEVICES_USERNAME:
      BROWSER_STACK_DEVICES_ACCESS_KEY:
      USE_LEGACY_DRIVER: 1
      HOST: "${HOST:-maze-runner}"
      API_HOST: "${API_HOST:-maze-runner}"
    env_file:
      - ${DOCKER_ENV_FILE:-test/browser/features/fixtures/null_env}
    networks:
      default:
        aliases:
          - maze-runner
    volumes:
      - ./test/browser/maze_output:/app/test/browser/maze_output

  node-maze-runner:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.node
      target: node-maze-runner
    command: --fail-fast --retry 2
    environment:
      BUILDKITE:
      BUILDKITE_BRANCH:
      BUILDKITE_BUILD_CREATOR:
      BUILDKITE_BUILD_NUMBER:
      BUILDKITE_BUILD_URL:
      BUILDKITE_LABEL:
      BUILDKITE_MESSAGE:
      BUILDKITE_PIPELINE_NAME:
      BUILDKITE_REPO:
      BUILDKITE_RETRY_COUNT:
      BUILDKITE_STEP_KEY:
      MAZE_BUGSNAG_API_KEY:
      NODE_VERSION: "${NODE_VERSION:-10}"
      COMPOSE_PROJECT_NAME: "node${NODE_VERSION:-10}"
      NETWORK_NAME: "${BUILDKITE_JOB_ID:-js-maze-runner}"
      DEBUG:
    networks:
      default:
        aliases:
          - maze-runner
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  android-builder-base:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-builder-base

  react-native-android-builder:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.react-native-android-builder
      args:
        - REGISTRY_URL
        - REG_BASIC_CREDENTIAL
        - REG_NPM_EMAIL
        - MAVEN_REPO_URL
    environment:
      - DEBUG
      - BRANCH_NAME
      - BUILDKITE
      - REGISTRY_URL
      - REACT_NATIVE_VERSION
      - NOTIFIER_VERSION
      - ARTEFACT_NAME
      - JS_SOURCE_DIR
    networks:
      default:
        aliases:
          - maze-runner
    volumes:
      - ./build:/app/build
      - ./test:/app/test
      - ./features:/app/features

  react-native-cli-tool-maze-runner:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.react-native-cli-tool
    environment:
      BUILDKITE:
      BUILDKITE_BRANCH:
      BUILDKITE_BUILD_CREATOR:
      BUILDKITE_BUILD_NUMBER:
      BUILDKITE_BUILD_URL:
      BUILDKITE_LABEL:
      BUILDKITE_MESSAGE:
      BUILDKITE_PIPELINE_NAME:
      BUILDKITE_REPO:
      BUILDKITE_RETRY_COUNT:
      BUILDKITE_STEP_KEY:
      MAZE_BUGSNAG_API_KEY:
      DEBUG:
      REACT_NATIVE_VERSION:
      NETWORK_NAME: "${BUILDKITE_JOB_ID:-react-native-cli-maze-runner}"
    networks:
      default:
        aliases:
          - maze-runner
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./test/react-native-cli/maze_output:/app/maze_output

  react-native-cli-android-builder:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.react-native-cli-android-builder
      args:
        - REGISTRY_URL
        - REG_BASIC_CREDENTIAL
        - REG_NPM_EMAIL
    environment:
      - VERBOSE
      - DEBUG
      - BRANCH_NAME
      - BUILDKITE
      - REGISTRY_URL
      - REACT_NATIVE_VERSION
      - MAVEN_REPO_URL
      - MAVEN_REPO_CREDS
      - NOTIFIER_VERSION
    networks:
      default:
        aliases:
          - maze-runner
    volumes:
      - ./build:/app/build
      - ./test:/app/test
      - ./test/react-native-cli/features/:/app/features

  react-native-maze-runner:
    image: 855461928731.dkr.ecr.us-west-1.amazonaws.com/maze-runner-releases:latest-v7-cli
    environment:
      BUILDKITE:
      BUILDKITE_BRANCH:
      BUILDKITE_BUILD_CREATOR:
      BUILDKITE_BUILD_NUMBER:
      BUILDKITE_BUILD_URL:
      BUILDKITE_LABEL:
      BUILDKITE_MESSAGE:
      BUILDKITE_PIPELINE_NAME:
      BUILDKITE_REPO:
      BUILDKITE_RETRY_COUNT:
      BUILDKITE_STEP_KEY:
      MAZE_BUGSNAG_API_KEY:
      DEBUG:
      BROWSER_STACK_USERNAME:
      BROWSER_STACK_ACCESS_KEY:
      BROWSER_STACK_BROWSERS_USERNAME:
      BROWSER_STACK_BROWSERS_ACCESS_KEY:
      BROWSER_STACK_DEVICES_USERNAME:
      BROWSER_STACK_DEVICES_ACCESS_KEY:
      SKIP_NAVIGATION_SCENARIOS:
      HERMES:
    networks:
      default:
        aliases:
          - maze-runner
    volumes:
      - ./build:/app/build
      - ./test/react-native/features/:/app/features
      - ./test/react-native/maze_output:/app/maze_output

  react-native-cli-maze-runner:
    image: 855461928731.dkr.ecr.us-west-1.amazonaws.com/maze-runner-releases:latest-v7-cli
    environment:
      BUILDKITE:
      BUILDKITE_BRANCH:
      BUILDKITE_BUILD_CREATOR:
      BUILDKITE_BUILD_NUMBER:
      BUILDKITE_BUILD_URL:
      BUILDKITE_LABEL:
      BUILDKITE_MESSAGE:
      BUILDKITE_PIPELINE_NAME:
      BUILDKITE_REPO:
      BUILDKITE_RETRY_COUNT:
      BUILDKITE_STEP_KEY:
      MAZE_BUGSNAG_API_KEY:
      DEBUG:
      BROWSER_STACK_USERNAME:
      BROWSER_STACK_ACCESS_KEY:
      BROWSER_STACK_BROWSERS_USERNAME:
      BROWSER_STACK_BROWSERS_ACCESS_KEY:
      BROWSER_STACK_DEVICES_USERNAME:
      BROWSER_STACK_DEVICES_ACCESS_KEY:
    volumes:
      - ./build:/app/build
      - ./test/react-native-cli/features/:/app/features/
      - ./test/react-native-cli/maze_output:/app/maze_output

  release:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.release
    environment:
      GITHUB_USER:
      GITHUB_ACCESS_TOKEN:
      RELEASE_BRANCH:
      RETRY_PUBLISH:
      FORCE_CDN_UPLOAD:
      AWS_ACCESS_KEY_ID:
      AWS_SECRET_ACCESS_KEY:
      VERSION:
      PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
    volumes:
      - ~/.gitconfig:/home/releaser/.gitconfig
      - ~/.npmrc:/home/releaser/.npmrc

networks:
  default:
    name: ${BUILDKITE_JOB_ID:-js-maze-runner}
