
p {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.App {
  background-color: #e0dfe3;
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding-bottom: 5%;
}


.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #070755;
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  font-size: 20px;
}

.Bad-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}