name: "PR diff bot"
on: [pull_request]

jobs:
  build:
    name: PR diff bot
    runs-on: ubuntu-latest
    steps:
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Checkout base branch
        uses: actions/checkout@v1
        with:
          ref: ${{ github.base_ref }}

      - name: Record before stats
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
        run: |
          mkdir .diff
          npm ci
          npm run build
          cat packages/browser/dist/bugsnag.min.js | wc -c > .diff/size-before-minified
          cat packages/browser/dist/bugsnag.min.js | gzip | wc -c > .diff/size-before-gzipped

      - name: Checkout PR branch
        uses: actions/checkout@v1
        with:
          clean: false

      - name: Record after stats
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
        run: |
          npm ci
          npm run build
          cat packages/browser/dist/bugsnag.min.js | wc -c > .diff/size-after-minified
          cat packages/browser/dist/bugsnag.min.js | gzip | wc -c > .diff/size-after-gzipped

      - name: Run danger
        uses: danger/danger-js@9.1.6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
